
body#popupBody {
    font-size: 14px;
    width: 31rem;
    margin: 1rem auto;
}

#popupBody .collapsing {
    transition: none !important;
}

.translation-result {
    margin: 0.8rem 0;
}

.translation-lang {
    font-size: 0.7em;
    margin-right: 1rem;
}

.translation-voice {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 0.4rem;
    cursor: pointer;
    background: url("../img/icon-audio.12.png") no-repeat center;
}

.translation-source {
    color: #999;
    float: right;
    margin: 0.5rem 0;
}

.translation-report-bug {
    color: #999;
    float: left;
    margin: 0.5rem 0;
}

#options-menu {
    min-width: auto;
}

/* Overlay */
body#overlaybody {
    font-size: 12px;
    width: 320px;
    margin: 0.5em 0;
}

#overlaybody .collapsing {
    transition: none !important;
}

#showQuery {
    position: absolute;
    left: 0;
    top: 0;
}

#overlaybody #queryForm {
    margin-left: 1.5rem;
}

body#optionsBody {
    font-size: 14px;
    min-width: 40rem;
    margin: 10px auto;
    padding: 1rem;
    background-color: #eeeeee;
}

.plugin-repository-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#newRepositoryInput {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px dashed #cccccc;
    padding: 0;
}

.plugin-update {
    margin-right: 1em;
}

.plugin-options-btn {
    margin-left: 1em;
}

.plugin-options {
    border-top: 1px dashed #cccccc;
    margin-top: 1em;
    padding-top: 0.8em;
    font-size: 0.8em;
}

.plugin-option-name {
    margin-right: 1em;
    margin-left: 5.5em;
}

.plugin-option-input {
    margin-right: 1em;
}

.plugin-option-label {
    margin-right: 1em;
}

.settings-section {
    margin-top: 1em;
}

.settings-section-title {
    margin-top: 1em;
    font-weight: bold;
}

.plugin-item-control {
    cursor: move;
}

/* Slider section */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Welcome page */

body#welcomeBody {
    font-size: 14px;
    width: 60rem;
    margin: 0 auto;
}